*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(72deg, #4280E1 1%, #3DECB1 72%) ;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_cadastro {
    background-color: #fff;
    max-width: 500px; 
    padding: 25px 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
}
.container_cadastro > h1 {
    text-align: center;
}
.container_cadastro > p {
    color: #aaa;
    margin: 15px 0px;
    text-align: center;
}
.input_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input_box label {
    font-weight: bold;
}
.input_box input {
    height: 40px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #aaa;
    outline: none;
}
#box_sugestao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
#box_sugestao > p  {
    margin-bottom: 10px;
    color: #aaa;
}
#box_sugestao p > span {
    color: black;
    cursor: pointer;
}
#box_sugestao p > span:hover{
    color: #0099ff;
}
.container_ajuste {
    border: 1px solid #0099ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 300px;
    margin-bottom: 7px;
}
.container_ajuste i {
    position: absolute;
    top: 5px;
    right: 5px;
}
.bi-x-lg:hover{
    background-color: grey;
    opacity: 0.8;
    color: #fff;
    cursor: pointer;
}
.box_caracteres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7px;
}
.box_opcao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 200px;
    position: relative;
}
.box_opcao > input {
    width: 15px;
}
#btn_gerar_senha {
    background-color: #81d340;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}
#box_senha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 5px;
    position: relative;
}
#box_senha :nth-child(1) {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}
#btn_copiar {
    background-color: #81d340;
    color: white;
    width: 90px;
    padding: 10px 0;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
#btn_cadastrar {
    margin-left: 300px;
    right: 20px;
    background:#6c63ff;
    padding: 15px 25px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0.9;
}
#btn_cadastrar:hover {
    opacity: 1;
}

@media screen and (max-width: 530px) {
    .container_cadastro {
        width: 90%;
        height: 100vh;
    }
    #btn_cadastrar {
        margin-left: 250px;
    }
}

